html { -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *:after, *:before { -webkit-box-sizing: inherit; box-sizing: inherit; }

/*
Bootstrap breakpointy: 768, 992, 1200
xs: (max-width: 767px)
sm: (min-width: 768px) and (max-width: 991px)
md: (min-width: 992px) and (max-width: 1199px)
lg: (min-width: 1200px)

Barvy
svetle modra: #8ABCE7
08A8F7
svetle modra2: #42A0FF
tmave modra: #2C265E
sedocerna:  #373736
červená :  #D11422
tmave modra na aktual: #38345E

šedobila:  #E7E7E7
bila : #FFFFFF
*/


body {
    /*position: relative;*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;

}

.body {
  background:
      -webkit-gradient(linear, left top, left bottom, from(rgba(6,66,97,0.1)), to(rgba(6,66,97, 0.6))),
        url('images/ice2.jpg');
  background:
        -webkit-linear-gradient(rgba(6,66,97,0.1), rgba(6,66,97, 0.6)),
        url('images/ice2.jpg');
  background:
        -o-linear-gradient(rgba(6,66,97,0.1), rgba(6,66,97, 0.6)),
        url('images/ice2.jpg');
  background:
        linear-gradient(rgba(6,66,97,0.1), rgba(6,66,97, 0.6)),
        url('images/ice2.jpg');
    background-size:auto, cover;
    background-position:initial,  center center;
    background-repeat:no-repeat;
}

h2,h3,h4 {
  font-family: 'Roboto', sans-serif;
}

.content h2 {
  color: #0ABAF3;
  font-weight: bold;
  letter-spacing: 2.1px;
}
.content h3,
.content h4 {

  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2.1px;



}


/* ------IKONY----*/
.inner h3.icon {

  background: url(images/puck.png) no-repeat center;

    background-position: left;
  padding-left: 25px;
}

.HCMystery h3.icon {

  background: url(images/mask.png) no-repeat center;

    background-position: left;
  padding-left: 25px;
}

.fotogalerie h3.icon {

  background: url(images/camera.png) no-repeat center;

    background-position: left;
  padding-left: 25px;
}

.fotogalerie h3 a {
  color: white;

}

.row h2.icon {

  background: url(images/contact.png) no-repeat center;

    background-position: left;


}

/*------------------------------------


/* v breakpointu 'sm' zvetsime pismo */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 16px;
    }
}

/* v breakpointu 'md' zvetsime pismo jeste vic */
@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
}




.btn-primary:hover   {

  font-weight: bold;
  color: #FC0034;
  background-image: none;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;


 }

.btn-primary
{
  background-color: #08A8F7 !important;
  border-color:#08A8F7;
  background-image: none;
  color: white;
  -webkit-box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);
          box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);

}







.btn.btn-primary.btn-lg.desktop {
  display: none !important;
}

@media  (min-width:768px) {
  .btn.btn-primary.btn-lg.desktop {
    display: block !important;
  }




}





.wrap {
  max-width: 1000px;
  margin: auto;
  position: relative;

}

.banner {
  -webkit-box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);
          box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);
}

@media  (max-width: 767px){

  .banner {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

}
/* HLAVICKA - LOGO*/



.hlavicka.container {
  position: relative;


}
.nazev {
  text-align: center;
}
#name {
  max-width: 60%;
  width: 75%;


}

.nazev img {
  margin: 30px auto;

}

@media (min-width: 768px) {
#name {
    max-width: 60%;
}


.nazev img {
  margin: 30px;

}

}




/* ------ MENU ------ */





nav.navbar.navbar-default {
  margin: 0px auto;
  max-width: 1000px;
  font-size: 16px;
  line-height: 1.2;
  background:  #0B092E;
  margin: 0px auto;
  border: #0B092E;
  text-align: center;
  vertical-align:  middle;
}

.container-fluid {
  padding: 0px;
}


.nav.nav-justified  a {
  min-height: 65px;
  padding-top:22px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  vertical-align:  middle;
}

@media (min-width: 768px) {

.dropdown.spec a  {
            padding-top:13px;
  }

.dropdown.spec.open> ul.dropdown-menu > li.spec> a  {
              padding-top:22px;
    }

.nav.nav-justified > li.spec > a {
  padding-top: 13px;
}

}


.nav-justified>li>a {
  margin-bottom: 0px;
  margin: auto;
  display: inline-block;
  width: 100%;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: 0px;
  margin-right: 0px;
}
.nav.nav-justified a:hover,
.nav.nav-justified a:focus,
.nav.nav-justified a:active {
  background-color: #42A0FF;


}

.dropdown-menu{
  min-width: 0px;

}


.dropdown-menu>li>a  {
  height: 65px;
  padding: 10px 10px;
  text-align: center;
  width: auto;
  color:#2C265E;
  white-space: normal;
  vertical-align: middle;


}


.dropdown-menu>li>a:hover {
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #42A0FF),to(#42A0FF));
 background-image:-webkit-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
 background-image:-o-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
 background-image:linear-gradient(to bottom, #42A0FF 0,#42A0FF 100%);
 color:white;
}

.dropdown-menu>li>a:active {
 background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #42A0FF),to(#42A0FF));
 background-image:-webkit-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
 background-image:-o-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
 background-image:linear-gradient(to bottom, #42A0FF 0,#42A0FF 100%);
 color:white;
}
.dropdown-menu>li>a:visited {
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #42A0FF),to(#42A0FF));
  background-image:-webkit-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
  background-image:-o-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
  background-image:linear-gradient(to bottom, #42A0FF 0,#42A0FF 100%);
  color:white;
 }
 .dropdown-menu>li>a:focused {
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #42A0FF),to(#42A0FF));
  background-image:-webkit-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
  background-image:-o-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
  background-image:linear-gradient(to bottom, #42A0FF 0,#42A0FF 100%);
  color:white;
 }

 .dropdown-menu>.active>a {
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #42A0FF),to(#42A0FF));
  background-image:-webkit-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
  background-image:-o-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
  background-image:linear-gradient(to bottom, #42A0FF 0,#42A0FF 100%);
  color:white;
 }
 .dropdown-menu>.active>a:hover {
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #42A0FF),to(#42A0FF));
  background-image:-webkit-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
  background-image:-o-linear-gradient(top, #42A0FF 0,#42A0FF 100%);
  background-image:linear-gradient(to bottom, #42A0FF 0,#42A0FF 100%);
  color:white;
 }

.dropdown-toggle a:visited {
  background-color: inherit;
}

li.divider {
  margin: 0px  !important;
}



.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.navbar .navbar-collapse {
  text-align: center;
  padding: 0px;

}
.navbar-brand {

  display: none;
  padding: none !important;
}




ul.dropdown-menu {
  width: 100%;
  padding: 0px;
  background-color: #2C265E;

}

.navbar-toggle {
  margin-right: 25px !important;
}
@media  (max-width: 767px) {

#rezervace  {
  display: none;
}



.navbar-brand {
  background-color: #0B092E !important;
  border-color:#0B092E;
  border-radius: 5%;
  min-height: 55px;

  background-image: none;
  color:white !important;
  display: block;
  margin: auto;


}

a.navbar-brand {
  width: 170px;
  text-align: left;
  padding: 4px 0px 2px 20px;
}

}


#nav {
  z-index: 1040;
  -ms-flex-item-align: center;
      align-self: center;
}


body {
      position: relative;
  }
.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
}

@media (min-width:1022px) {
  .affix{
      margin: 0 auto; left:0px; right:0px;
}
}
.navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
/* ------ OBSAH------ */

.row {
  padding: 15px;
}

.kamera,
.rezervace,
.pravy,
.aktuality,
.projekt,
.levy {

  padding: 0px;
}


/* vice/ mene obsah */
.projekt-obsah {
	display: none;
}

.technologie-obsah {
  display: none;
}

.zobrazit {
	display: block;

}





.skryt-button {
  display: none;
}
/*ROZBALOVACI obsah*/

.projekt-obsah {
	-webkit-transform: all 2s;
	    -ms-transform: all 2s;
	        transform: all 2s;
	max-height:0;
	overflow:hidden;
}
.technologie-obsah {
	-webkit-transform: all 2s;
	    -ms-transform: all 2s;
	        transform: all 2s;
	max-height:0;
	overflow:hidden;
}

.zobrazit {
	display: block;
	max-height: 900px;
}








/* ------ REZERVACE----- */
.rezervace {
  padding-left: 15px;
  margin: 0px;
}

.rezervaceimg{
  display: none;
}
div.modal-content {
  max-width: 900px !important;
  text-align: center;
}

@media (min-width: 768px) {
  .modal-dialog {
      width: 900px!important;
}

.rezervaceimg {
  display: block;
}
}



.close:hover { background: #00d9ff; }

.fa.fa-facebook-square {
  color: #FC0034;
  padding-top: 8px;
}

.fa.fa-facebook-square:hover,
.fa.fa-facebook-square:focus,
.fa.fa-facebook-square:active {
  color:#FC0034;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);
          box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);

}

.inner {
    background-color: #0B092E;

    opacity: 0.92;
    color: #e5e4e2;
    padding: 25px;
    padding-bottom: 1px;

}

.rezervace.inner {
  background: url(images/linka.png) no-repeat center;
  width: 80px;
  height: 15px;

    background-position: center bottom;

}

@media (max-width: 768px) {
  .rezervace {
    padding-left: 0px;
    padding-top: 15px;
  }

}
#harmonogram {
  margin-top: 42px;

}
.aktuality {
  color: white;
}


.galeryFoto.clearfix.timeline li.horizontal {
  display: none;
}


.vertical {
  width: 100%;
}
 .vertical img.timeline   {
  display: block;

}
.vertical img {
  margin-left: auto;
  margin-right: auto;

}
@media (min-width: 768px) {

  .galeryFoto.clearfix.timeline li.horizontal {
    display: block;
    

  }

  .vertical img.timeline   {
    display:none;
  }

 
}


.prazdny{
  margin-bottom: 33px;
}

/*
svetle modra: #8ABCE7
svetle modra2: #42A0FF
tmave modra: #2C265E  #2C265E;
sedocerna:  #373736
červená :  #D11422
tmave modra na aktual: #38345E

šedobila:  #E7E7E7
bila : #FFFFFF
*/




.content h2,
.content h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
}


/* ----- AKTUALITY  ---*/
.main {
  padding: 0px;
}

.media.aktualita.hlavni {
  padding: 5px;
}

.media.aktualita.hlavni.media-left {
  padding: 15px;
}
.next a
{
  padding-left: 30px;
}

div.media-left{

  padding: 10px !important;


}


.media.aktualita {
  background-color: #0c0c0b;
}

.odkazaktual a{
  color: #08A8F7 ;
}
.odkazaktual a {
  padding-left: 30px;
}

div.media-left.hlavni
{
  vertical-align: top;

  width: 10000px !important;
}

.blok.dalsi {
  text-align: center;
  margin-top: 20px

}
div.next {
  float: none;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  padding-top: 15px;
  margin: 0 auto !important;
  color: #42A0FF;
}

div.next a {
  color: #42A0FF;
}
.media-body a {
  color: white;
}

.media-body p {
  font-size: 14px;
  color: white;

}

/* ----- HC MYSTERY ----*/

.HCMystery {
  background-color: #0B092E;
  color: white;
  opacity: 0.92;

  padding: 25px;
  -webkit-box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);
          box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);
}

@media  (max-width: 767px){

  .HCMystery {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

}

.HCMystery h3 {
  margin-bottom: 10px;
}

.text {
  padding-top: 20px;
}

.logo-mystery {
  text-align: center;
  padding: 0px 15px 25px 15px;
}








/* ----- FOTO ----*/
.fotogalerie {
  background-color: #0B092E;
  padding: 20px 30px 40px 30px;
  margin-top: 15px;
  opacity: 0.92;
  -webkit-box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);
          box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);


}

@media  (max-width: 767px){

  .fotogalerie {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack:  center;
      -ms-flex-pack:  center;
          justify-content:  center;



}



.box {

    cursor: pointer;
    height: 215px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 215px;
    -webkit-box-shadow: 20px 26px 91px -11px rgba(0,0,0,0.75);
            box-shadow: 20px 26px 91px -11px rgba(0,0,0,0.75);

}

@media  (max-width: 767px){

  .box {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

}
.box.stadion {
  background:
  -webkit-gradient(linear, left top, left bottom, from(rgba(66, 169, 225, 0.1)), to(rgba(66, 169, 225, 0.1))),
  url('images/vizu3-mala.jpg');
  background:
  -webkit-linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/vizu3-mala.jpg');
  background:
  -o-linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/vizu3-mala.jpg');
  background:
  linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/vizu3-mala.jpg');
  background-size: 327px 215px;
    background-position:  center center;
    background-repeat: initial, no-repeat;
  overflow: hidden;


}

.box.hokejkurim {
  background:
  -webkit-gradient(linear, left top, left bottom, from(rgba(66, 169, 225, 0.1)), to(rgba(66, 169, 225, 0.1))),
  url('images/his5.jpg');
  background:
  -webkit-linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/his5.jpg');
  background:
  -o-linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/his5.jpg');
  background:
  linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/his5.jpg');
  background-size: 327px 215px;
    background-position:  center center;
    background-repeat: initial, no-repeat;
  overflow: hidden;
}

.box.mystery {
  background:
  -webkit-gradient(linear, left top, left bottom, from(rgba(66, 169, 225, 0.1)), to(rgba(66, 169, 225, 0.1))),
  url('images/mystery.png');
  background:
  -webkit-linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/mystery.png');
  background:
  -o-linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/mystery.png');
  background:
  linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/mystery.png');
  background-size: 327px 215px;
    background-position:  center center;
    background-repeat: initial, no-repeat;
  overflow: hidden;

}

.box.stavba {
  background:
  -webkit-gradient(linear, left top, left bottom, from(rgba(66, 169, 225, 0.1)), to(rgba(66, 169, 225, 0.1))),
  url('images/stavba-mala.jpg');
  background:
  -webkit-linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/stavba-mala.jpg');
  background:
  -o-linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/stavba-mala.jpg');
  background:
  linear-gradient(rgba(66, 169, 225, 0.1), rgba(66, 169, 225, 0.1)),
  url('images/stavba-mala.jpg');
  background-size: 327px 215px;
    background-position:  center center;
    background-repeat: initial, no-repeat;
  overflow: hidden;
}


 .box img {
    position: absolute;
    left: 0;
    width: inherit;
    overflow: hidden;
    height: auto;

    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}


.box .caption {
    font-family: Tahoma;
    font-size: .5em;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    left: 0;
    opacity: 0;
    width: 215px;
    height: 215px;
    text-align:center;
    vertical-align: middle;
    padding: 57px 20px;
}



 .box:hover .fade-caption {
    opacity: 1;
}


/* ------ fotogalerie STADION ------ */

.galeryFoto ul {

    margin: 0;
    padding: 0;
}

.galeryFoto li {
    margin: 0;
    padding: 1px;
    display: block;
    float: left;
    height: auto;
    width: 100%;
    overflow: hidden;
}


.galeryFoto img {
  width: 100%;
  height: auto;

}

/* stredni velikost zarizeni - 2 obrazky vedle sebe */
@media (min-width: 768px)  {
    .galeryFoto li {
        width: 50%;
        height: auto;
    }
}

.galeryFoto.clearfix.timeline li {
  width: 100%;
}





/* ------ KONTAKTY ------ */

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}
.kontakty {

  background-color: #0B092E;
  opacity: 0.92;
  color: white;
  padding-left: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);
          box-shadow: 2px 11px 134px -11px rgba(0,0,0,0.75);
}

@media  (max-width: 767px){

  .kontakty {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

}

#kontakt {
  padding-left: 25px;
  margin-bottom: 10px;


}

.googlemaps {
  -webkit-box-shadow: 20px 26px 91px -11px rgba(0,0,0,0.75);
          box-shadow: 20px 26px 91px -11px rgba(0,0,0,0.75);
}

/* ------ PATICKA ------ */
.footer {
  margin: 0px ;
  background-color: #0c0c0b;
}

.footer h4 {
  font-size: 17px;
}

.footer a {
  font-size: 16px;
  font-weight: bold;
}

.container-fluid.whole {
  border-bottom: 0.3px solid grey;
}
.sponzori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.row.media {
  padding-left: 0px !important;
}

#partneri h4 {
  padding-left: 15px;

}


.links {
    display: flex;
    flex-direction: column;

}

.links img {
  margin-bottom:10px;

}



.wellness {
  margin-top: 25px;
}


.wellness a .big {
  display: none;
}
@media  (min-width:992px) {

.wellness {

  margin-top: 12px;
  margin-left: -25px;

}

.wellness a .big {
  display: block;

}
.wellness a .small {
  display: none;
}

.links.dva img {
  margin-bottom:32px;

}


}




.sponzori img {
  height:100%;
  margin: 12px 0px;
}

.bla {
  text-align: center;
  min-height: 15px;


}
.copy {
  display: inline-block;
  color: black;

  font-size: 12px;
  margin: auto;
}



@media  (max-width: 991px)  {
.bla {
  display: none;
}
}
